<div class="container-fluid">
  <h1>{{ title }}</h1>
  <div class="row">
    <div class="col-12">
      <form (submit)="onUpdate($event)">
        <div class="form-group row">
          <label for="orderId" class="col-sm-2 col-form-label">Order Id</label>
          <div class="col-sm-10">
              <input type="text" readonly="" class="form-control-plaintext" id="orderId" (value)="order.orderId">
            </div>
            <div class="form-group">
                <label for="orderStatus">Order status</label>
                <select class="form-control" id="orderStatus">
                  <option>received</option>
                  <option>processed</option>
                  <option>shipped</option>
                  <option>delivered</option>
                </select>
              </div>
          <div class="col-12 d-flex justify-content-around">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
