.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card {
    margin: 20px;
    padding: 1px;
}
.arrowIcon {
    font-size: 110%;
}
.title-icon {
    font-size: 150%;
    opacity: 0.5;
}