<div class="container">
    <div class="row">
        <div class="col-3 mx-auto">
            <div class="card"
                 style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <p class="card-text">Active: </p>
                    <p class="card-text">Total: {{allProducts}}</p>
                    <a routerLink="/admin/products"
                       class="btn btn-primary btn-block">Products</a>
                </div>
            </div>
        </div>
        <div class="col-3 mx-auto">
            <div class="card"
                 style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Orders</h5>
                    <p class="card-text">Active: </p>
                    <p class="card-text">Total: {{allOrders}}</p>
                    <a routerLink="/admin/orders"
                       class="btn btn-primary btn-block">Orders</a>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-10">
                            <a routerLink="/employee">View details</a>
                        </div>
                        <div class="col-2">
                            <a routerLink="/employee">&#x203A;</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 mx-auto">
            <div class="card"
                 style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">Admins: {{countAdmins}} </p>
                    <p class="card-text">Customers: {{countCustomers}}</p>
                    <p class="card-text">Total amount of users: {{allCustomer}} </p>
                    <div class="btn-group">
                        <a routerLink="/admin/admins"
                           class="btn btn-primary">Admins</a>
                        <a routerLink="/admin/users"
                           class="btn btn-primary">Customers</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- <h1>Customers</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Password</th>
            <th scope="col">Username</th>
            <th scope="col">Token</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let customer of allCustomer$ | async'>
            <th>{{customer.id}}</th>
            <td>{{customer.firstName}}</td>
            <td>{{customer.lastName}}</td>
            <td>{{customer.password}}</td>
            <td>{{customer.username}}</td>
            <td>{{customer.token}}</td>
        </tr>
    </tbody>
</table> -->