<div class="container">
  <h2>Add New Admin</h2>
  <form action=""
        method="post"
        (submit)="onCreate($event)">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input [(ngModel)]="admin.firstName"
             type="text"
             class="form-control"
             name="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input [(ngModel)]="admin.lastName"
             type="text"
             class="form-control"
             name="lastName">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input [(ngModel)]="admin.username"
             type="text"
             class="form-control"
             name="username">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]="admin.password"
             type="text"
             class="form-control"
             name="password">
    </div>
    <input type="submit"
           value="Add">
  </form>
</div>
