<div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th>Customer ID</th>
              <th>Order Date</th>
              <th>Value</th>
              <th>Order Status</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{ order.customerId}}</td>
              <td>{{ order.orderDate }}</td>
              <td>{{ order.value }}</td>
              <td>
               <select name="orderStatus" id="orderStatus" [(value)]="selected">
                 <option value="Received" selected>Received</option>
                 <option value="Processed">Processed</option>
                 <option value="Shipped">Shipped</option>
                 <option value="Delivered">Delivered</option>
               </select>
              </td>
              <td>
                <div class="btn-group">
                  <button routerLink="/admin/orders/{{order.id}}">Submit</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
