body {
  background-image: url(/img/recordplayer-neon.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

@font-face {
  font-family: brandFont;
  src: url(/fonts/venus-rising.ttf);
}

@font-face {
  font-family: linkFont;
  src: url(/fonts/Outrun-future.otf);
}

@font-face {
  font-family: cardTitleFont;
  src: url(/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: cardTextFont;
  src: url(/fonts/OpenSans-Light.ttf);
}

.navbar {
  height: 100px;
  
}

.navbar-brand {
  font-family: brandFont;
  font-weight: bold;
  font-size: 20pt;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.navbar-nav .nav-link {
  font-family: linkFont;
  font-size: 13pt;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-link:hover {
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.card {
  border-radius: 10px;
  text-align: center;
}

.card:hover {
  box-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.card-title {
  font-family: cardTitleFont;
  font-size: 13pt;
  font-weight: bolder;
}

.card-text {
  font-family: cardTextFont;
  font-weight: bold;
}

.card-img-top {
  height: 290px;
  width: 290px;
  border-radius: 10px;
  text-align: center;
}

.container {
  padding-top: 50px;
}

.glow-on-hover {
  width: 120px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

button:focus {
  outline: 0;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.jumbotron {
  background: none;
  color: whitesmoke;
  text-shadow: 2px 2px 2px #000;
}

.display-3 {
  font-family: linkFont;
}

footer {
  font-family: cardTitleFont;
  color: whitesmoke;
  text-shadow: 2px 2px 2px #000;
}
