extends layout

block content
  .jumbotron
    h1.display-3 Welcome to our Vinyl Empire!
    br
    p.lead
      | Where you can find anything you desire and if you don't, it simply doesn't exist.
    hr.my-4
    p
      | Check out our cool products here!
    p.lead
      a.btn.btn-primary.btn-lg(href='/products' role='button') SHOP
