doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='/img/favicon.ico' rel='icon' type='image/x-icon')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent
      a.navbar-brand(href='/') Music On Vinyl
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarColor02' aria-controls='navbarColor02' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarColor01.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='/')
              | Home 
              span.sr-only (current)
          li.nav-item
            a.nav-link.active(href='/products') Our products
          li.nav-item
            a.nav-link.active(href='/theTeam') The Team
        ul.navbar-nav
          a(href='/basket')
            img#shoppingCart(src='/img/shopping-cart.png')
            <span class='badge badge-warning very-nice-basket-icon' id='lblCartCount'> #{user.prodsInBasket} </span>
          a.glow-on-hover(type='sumbit' href='/loginCustomer') LOGIN
          a.glow-on-hover(type='sumbit' href='/registerCustomer') REGISTER

    .container
      block content

    footer.page-footer.font-small.indigo 
          .container.text-center.text-md-left
            .row 
              hr.clearfix.w-100.d-md-none 
              .col-md-3.mx-auto 
                h5.font-weight-bold.text-uppercase.mt-3.mb-4 Sitemap
                ul.list-unstyled
                  li
                    a(href='/') Homepage
                  li
                    a(href='/products') Products
              hr.clearfix.w-100.d-md-none 
              .col-md-3.mx-auto 
                h5.font-weight-bold.text-uppercase.mt-3.mb-4 Costumer account
                ul.list-unstyled
                  li
                    a(href='/loginCustomer') Sign in
                  li
                    a(href='/registerCustomer') Registration
                  li
                    a(href='#!') My profile
                  li
                    a(href='#!') Cart
              hr.clearfix.w-100.d-md-none
              .col-md-3.mx-auto 
                h5.font-weight-bold.text-uppercase.mt-3.mb-4 Information
                ul.list-unstyled
                  li
                    a(href='#!') Payment methods
                  li
                    a(href='#!') Shipping information
                  li
                    a(href='#!') Contact us 
          .footer-copyright.text-center.py-3
            | © 2019 Copyright:&nbsp;
            
            a(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ') AllCRUDteam
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
  script(src='/javascript/basketHandler.js')
  