extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1 #{title}
        form(method='POST' action='/products')
          div.form-group
            label(for='customerUsername') Username
            input.form-control(type='text' id='customerUsername' placeholder='email@email.com' name='customerUsername')
          div.form-group
            label(for='customerPassword') Password
            input.form-control(type='password' id='customerPassword' placeholder='password' name='customerPassword')
          button.btn.btn-primary(type='submit') Log in 