extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Create an account

        // register form
        form(method='POST' action='/login')
          div.form-group
            //label(for='username') Username:
            input#username.form-control(type='text' placeholder='Username' name='username')
          div.form-group
            //label(for='name') First Name:
            input#name.form-control(type='text' placeholder='First Name' name='name')
          div.form-group
            //label(for='name') Last Name:
            input#name.form-control(type='text' placeholder='Last Name' name='name')
          div.form-group
            //label(for='email') Email:
            input#email.form-control(type='email' placeholder='name@email.com' name='email')
          div.form-group
            //label(for='pw') Password:
            input#pw.form-control(type='password' placeholder='Password' name='password')
          div.form-group
            //label(for='pw2') Confirm Password:
            input#pw2.form-control(type='password' placeholder='Password again' name='confirmPassword')
          button.btn.btn-primary(type='submit') Register now