extends layout

block content
  .main.container
    .row
      .col-6.offset-3
        h1.text-light #{title}

        form(method='POST' action='./register/users')
          div.form-group
            label(for='customerUsername').sr-only Username
            input#customerUsername.form-control(type='text' name='customerUsername' placeholder="Username")
          div.form-group
            label(for='customerFirstName').sr-only First Name
            input#customerFirstName.form-control(type='text' name='customerFirstName' placeholder="First Name")
          div.form-group
            label(for='customerLastName').sr-only Last Name
            input#customerLastName.form-control(type='text' name='customerLastName' placeholder="Last Name")
          div.form-group
            label(for='customerPassword').sr-only Password
            input#customerPassword.form-control(type='password' name='customerPassword' placeholder='Password')
          button.btn.btn-primary.btn-block(type='submit') Register now