extends layout

block content
  .main.container
    .row.text-center
      .col-6.offset-3
        h1.text-light #{title}
      .col-6.offset-3
        h2.text-light Welcome, #{user.customerFirstName}!
        //- a.btn.btn-primary(type='submit' href='http://localhost:3000/login') Go to login page