extends layout

block content
  .container#theTeam
    .row
      .col
        | 1 of 3
      .col
        | 2 of 3
      .col
        | 3 of 3
    .row
      .col
        | 1 of 2
      .col
        | 2 of 2
