<h1 class="text-center">Admin details</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-secondary">
        <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Edit/Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of admins">
            <td>{{ admin.id }}</td>
            <td>{{ admin.firstName }}</td>
            <td>{{ admin.lastName }}</td>
            <td>{{ admin.username }}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-warning" routerLink="/admin/admins/{{admin.id}}">Edit</button>
                <button class="btn btn-danger" (click)="onDeleteAdmin(admin)">Delete</button>
              </div>
            </td>
          </tr>
          <tr>
            <td colspan="3">&nbsp;</td>
            <td>Add new admin here:</td>
            <td>
              <button class="btn btn-dark" routerLink="/admin/new-admin">Add New</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
