<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div id="dismiss">
      <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
      <h3>MoV Admin</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Welcome to the admin site!</p>
      <li>
        <a href="http://localhost:3000/admin">Dashboard</a>
      </li>
      <li>
        <a href="http://localhost:3000/admin/products">Products</a>
      </li>
      <li>
        <a href="http://localhost:3000/admin/orders">Orders</a>
      </li>
      <li>
        <a href="http://localhost:3000/admin/users">Customers</a>
      </li>
      <li>
        <a href="http://localhost:3000/admin/admins">Admins</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">


    <div class="container-fluid">
      <button type="button"
              id="sidebarCollapse"
              class="btn btn-secondary mt-3">
        <i class="fas fa-align-left"></i>
        <span>&nbsp;Admin menu</span>
      </button>
      <button class="btn btn-dark d-inline-block d-lg-none ml-auto"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <i class="fas fa-align-justify"></i>
      </button>
    </div>
  </div>
</div>

<div class="overlay"></div>
