<div class="container-fluid">
  <h1 class="text-center">Product details</h1>
  <div class="row">
    <div class="col-12">
      <form (submit)="onUpdate($event)">
        <div class="form-group">
          <label for="name">Product name</label>
          <input type="text" disabled id="name" name="name" [(ngModel)]="oneProduct.productName" class="form-control">
          <label for="seo">SEO friendly product name</label>
          <input type="text" required minlength="3" id="seo" name="seo" [(ngModel)]="oneProduct.seoFriendlyProductName" class="form-control">
          <label for="category">Product category</label>
          <input type="text" required minlength="3" id="category" name="category" [(ngModel)]="oneProduct.productCategory" class="form-control">
          <label for="url">Picture Url</label>
          <input type="text" required minlength="3" id="url" name="url" [(ngModel)]="oneProduct.pictureURL" class="form-control">
          <label for="publisher">Publisher</label>
          <input type="text" required minlength="3" id="publisher" name="publisher" [(ngModel)]="oneProduct.publisher" class="form-control">
          <label for="price">Price</label>
          <input type="text" required id="price" name="price" [(ngModel)]="oneProduct.price" class="form-control">
          <label for="stock">Stock</label>
          <input type="text" required id="stock" name="stock" [(ngModel)]="oneProduct.stock" class="form-control">
          <div class="col-12 d-flex justify-content-around">
            <button type="submit" class="btn btn-primary">Update</button>
            <button type="button" class="btn btn-warning" (click)="onCancel()">Cancel</button>
          </div>
        </div>
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Product name is required!
          </div>
          <div *ngIf="name.errors.minlength">
            Product name must be at least 3 characters!
          </div>
        </div>
        <div *ngIf="seo.invalid && (seo.dirty || seo.touched)" class="alert alert-danger">
            <div *ngIf="seo.errors.required">
              SEO friendly product name is required!
            </div>
            <div *ngIf="seo.errors.minlength">
              SEO friendly product name must be at least 3 characters!
            </div>
        </div>
        <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert alert-danger">
            <div *ngIf="category.errors.required">
              Product category is required!
            </div>
            <div *ngIf="category.errors.minlength">
              Product category must be at least 3 characters!
            </div>
        </div>
        <div *ngIf="url.invalid && (url.dirty || url.touched)" class="alert alert-danger">
            <div *ngIf="url.errors.required">
              Picture Url is required!
            </div>
            <div *ngIf="url.errors.minlength">
              Picture Url must be at least 3 characters!
            </div>
        </div>
        <div *ngIf="publisher.invalid && (publisher.dirty || publisher.touched)" class="alert alert-danger">
            <div *ngIf="publisher.errors.required">
              Publisher is required!
            </div>
            <div *ngIf="publisher.errors.minlength">
              Publisher must be at least 3 characters!
            </div>
        </div>
        <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger">
            <div *ngIf="price.errors.required">
              Price is required!
            </div>
        </div>
        <div *ngIf="stock.invalid && (stock.dirty || stock.touched)" class="alert alert-danger">
            <div *ngIf="stock.errors.required">
              Stock is required!
            </div>
        </div>
      </form>
    </div>
  </div>
</div>