<h1 class="text-center">Available Products</h1>
<br>
<div class="container">
  <div class="row">
      <div class="col-8">
          <!-- <button class="btn btn-primary" routerLink="/admin/new-product">New product</button> -->
      </div>
    <div class="col-4">
      <input class="form-control" type="text" placeholder="Search.." [(ngModel)]="filterPhrase">
    </div>
    <div class="col-2">
        <button class="btn btn-primary" routerLink="/admin/new-product">New product</button>
    </div>
  </div>
  <div>
    <input type="checkbox" name="active" id="active" [(ngModel)]="isActiveOnly">Active products only
   </div>
</div>
<br>
<table class="table table-striped table-secondary">
  <thead>
    <tr>
      <th>#</th>
      <th>Product name</th>
      <th>SEO friendly</th>
      <th>Category</th>
      <th>Picture Url</th>
      <th>Publisher</th>
      <th>Price</th>
      <th>Stock</th>
      <th>Options</th>
    </tr>
  </thead>
<tbody>
  <tr *ngFor="let product of products|search:filterPhrase:isActiveOnly:changeCounter">
    <td>{{ product.id }}</td>
    <td>{{ product.productName }}</td>
    <td>{{ product.seoFriendlyProductName }}</td>
    <td>{{ product.productCategory }}</td>
    <td>{{ product.pictureURL }}</td>
    <td>{{ product.publisher }}</td>
    <td>{{ product.price }}</td>
    <td>{{ product.stock }}</td>
    <td>
      <button class="btn btn-primary" routerLink="/admin/products/{{ product.id }}">Details</button>
      <button class="btn btn-danger" (click)="onDelete(product)">Delete</button>
    </td>
  </tr>
</tbody>
</table>